
/* Footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  color: #777;
  background-color: #edebe1;
}

footer a {
  color: #555;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
}

.site-footer {
  position: relative;
  margin-top: 40px;
  padding-top: 40px;
  padding-bottom: 40px;
  font-size: 12px;
  line-height: 1;
  color: #767676;
  border-top: 2px solid #fff;
}

/* Section:: Container */

.on-the-go {
  text-align: center;
}

.on-the-go h2 {
  font-size: 30px;
  margin-bottom: 5px;
  font-weight: bold;
  color: #4c4c45;
  text-rendering: optimizelegibility;
}

.lead {
  font-weight: 400;
  color: #727267;
}

.lead {
  font-weight: 400;
  color: #727267;
}

p {
  margin: 0 0 9.5px;
}

section {
  display: block;
}