<section class="content">
  <div class="row">
    <% if user_signed_in? %>
      <div class="col-md-3">
        <%= render "shared/user_profile" %>
        <% if current_user.trainee? %>
          <%= render "shared/user_progress" %>
          <%= render "shared/user_info" %>
        <% end %>
      </div>
      <div class="col-md-9">
        <% if current_user.trainee? %>
          <%= render "shared/user_course_list" %>
        <% end %>
      </div>
    <% end %>
  </div>
</section>