<div class="user-profile">
  <div class="row flat">
    <div class="col-md-12">
      <ul class="plan plan1">
        <li class="plan-name">
          <div class="row">
            <%= @user.user_type %>
          </div>
        <li class="plan-avatar">
          <%= image_tag @user.avatar, size: "150x150", class: "user-avatar" %>
        </li>
        <li>
          <h3><%= @user.full_name %></h3>
        </li>
      </ul>
    </div>
  </div>
</div>