#wrapper {
  padding-left: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 250px;
}

#sidebar-wrapper {
  z-index: 1000;
  position: fixed;
  left: 250px;
  width: 0;
  height: 100%;
  margin-left: -250px;
  overflow-y: auto;
  background-color: #800000;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
  width: 250px;
}

#page-content-wrapper {
  width: 100%;
  position: absolute;
  padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
  position: absolute;
  margin-right: -250px;
}

/* Sidebar Styles */

.sidebar-navhead ul li {
  display: inline;
}


.sidebar-nav {
  position: absolute;
  top: 0;
  width: 250px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.sidebar-nav li {
  text-indent: 20px;
  line-height: 40px;
}


.sidebar-nav li a {
  display: block;
  text-decoration: none;
  color: white;
}

.sidebar-nav li a:hover {
  text-decoration: none;
  color: #fff;
  background: rgba(255,255,255,0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
  height: 65px;
  font-size: 18px;
  line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
  color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
  color: #fff;
  background: none;
}

.sidebar-nav > .sidebar-brand2 a {
  color: #ffffff;
  background: #FFA94D;
}
.sidebar-nav > .sidebar-brand3 a {
  color: #ffffff;
  background: #F7D358;
}

@media(min-width:768px) {
  #wrapper {
    padding-left: 250px;
  }

  #wrapper.toggled {
    padding-left: 0;
  }

  #sidebar-wrapper {
    width: 250px;
  }

  #wrapper.toggled #sidebar-wrapper {
    width: 0;
  }

  #page-content-wrapper {
    padding: 20px;
    position: relative;
  }

  #wrapper.toggled #page-content-wrapper {
    position: relative;
    margin-right: 0;
  }
}

/* Navbar Styles */

.main-header .navbar {
  background-color: #3c8dbc;
}

.main-header .navbar {
  margin: 0;
}

.main-header .navbar .nav>li>a {
  color: #fff;
}

.navbar-custom-menu .navbar-nav>li>a {
  padding-top: 15px;
  padding-bottom: 15px;
  line-height: 20px;
}
.nav>li>a {
  position: relative;
  display: block;
  padding: 10px 15px;
}

.nav>li.header {
  color: #4b646f;
  background: #1a2226;
}

.navbar-custom-menu>.navbar-nav>li>.dropdown-menu {
  position: absolute;
  right: 5%;
  left: auto;
  border: 1px solid #ddd;
  background: #fff;
}

/* Breadcrumbs */
.breadcrumb>.active {
  color: #777;
}
.breadcrumb>li {
  display: inline-block;
}


/*Dashboard */
.content-header>h1 {
  margin: 0;
  font-size: 24px;
}

.content-header>.breadcrumb>li>a {
  color: #444;
  text-decoration: none;
  display: inline-block;
}

/* Dashboard Demographics*/
.row {
  margin-right: -15px;
  margin-left: -15px;
}

.col-xs-6 {
  width: 50%;
}


.small-box {
  text-align: center;
}

.small-box {
  border-radius: 8x;
  position: relative;
  display: block;
  margin-bottom: 20px;
  box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}


.small-box>.inner {
  padding: 10px;
}

.small-box h3 {
  font-size: 38px;
  font-weight: bold;
  margin: 0 0 10px 0;
  white-space: nowrap;
  padding: 0;
  color: #fff;
}
.small-box p {
  font-size: 12px;
  color: #fff;
}

.small-box .icon {
  -webkit-transition: all .3s linear;
  -o-transition: all .3s linear;
  transition: all .3s linear;
  position: absolute;
  top: -10px;
  right: 10px;
  z-index: 0;
  font-size: 90px;
  color: rgba(0,0,0,0.15);
}

.small-box>.small-box-footer:hover {
  color: #fff;
  background: rgba(0,0,0,0.15);
}

.small-box>.small-box-footer {
  position: relative;
  text-align: center;
  padding: 3px 0;
  color: #fff;
  color: rgba(255,255,255,0.8);
  display: block;
  z-index: 10;
  background: rgba(0,0,0,0.1);
  text-decoration: none;
}

.bg-orange {
  background-color: #FFA94D !important;
}

.bg-grey {
  background-color: #FBF2EF !important;
}

#F2F2F2

.bg-aqua {
  background-color: #00c0ef !important;
}

.bg-yellow{
  background-color: #f39c12 !important;
}

.bg-red {
  background-color: #dd4b39 !important;
}

.bg-green {
  background-color: #00a65a !important;
}

.bg-yellow1{
  background-color: #FFBF00 !important;
}

.bg-yellow2{
  background-color: #FACC2E !important;
}

.bg-yellow3{
  background-color: #F7D358 !important;
}

.bg-yellow4{
  background-color: #F5DA81 !important;
}

/* Icons */

.small-box .icon {
  -webkit-transition: all .3s linear;
  -o-transition: all .3s linear;
  transition: all .3s linear;
  position: absolute;
  top: -10px;
  right: 10px;
  z-index: 0;
  font-size: 90px;
  color: rgba(0,0,0,0.15);
}

.small-box .icon {
  display: none;
}

/* Call Out Info */

.info {
  background-color: #00c0ef !important;
}

.callout.callout-info {
    border-color: #0097bc;
}

.callout {
  border-radius: 3px;
  margin: 0 0 20px 0;
  padding: 15px 30px 15px 15px;
  border-left: 5px solid #eee;
}

.content {
  min-height: 250px;
  padding: 15px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.callout h4 {
  margin-top: 0;
  font-weight: 600;
}

.callout p:last-child {
  margin-bottom: 0;
}

.bg-aqua, .callout.callout-info, .alert-info, .label-info, .modal-info .modal-body {

background-color: #00c0ef !important;

}

/* Main Footer */

.main-footer {
  background: #fff;
  padding: 15px;
  color: #444;
  border-top: 1px solid #d2d6de;
}

.main-footer {
  margin-left: 0;
}

/* Main Header */

.navbar {
  background-color: #FACC2E;
}

.main-header .navbar {
  margin: 0;
}

.main-header .navbar {
  width: 100%;
  float: none;
}

.main-header .navbar {
  width: 100%;
  float: none;
}

.navbar-static-top {
  z-index: 1000;
  border-width: 0 0 1px;
}

.navbar {
  position: relative;
  min-height: 50px;
  margin-bottom: 20px;
  border: 1px solid transparent;
}


/*Box Button in Profile*/
.sg-lets-start-area {
  background-color: #7d5292;
  color: #ffffff;
}