<div class="row">
  <div class="col-md-8">
    <a href="#menu-toggle" class="btn btn-default" id="menu-toggle"><%= t ".toggle" %></a>
    <h3><%= t ".title" %></h3>
    <br/>
  </div>
  <div class="col-md-4 logout-button">
    <%= link_to t(".logout"), destroy_user_session_path, method: "delete", class: "btn btn-success" %>
  </div>
</div>