<div id="sidebar-wrapper">
  <ul class="sidebar-nav">
    <li class="sidebar-brand">
      <%= link_to t(".side_title"), admin_root_path %>
    </li>
    <li>
      <%= link_to t(".users"), admin_users_path %>
    </li>
    <li>
      <%= link_to t(".courses"), "#" %>
    </li>
    <li>
      <%= link_to t(".subjects"), admin_subjects_path %>
    </li>
  </ul>
</div>