<footer class="footer">
  <nav>
    <ul class="site-footer">
      <ul class="site-footer-links right">
        <li><%= link_to t(".button_about"), about_path %></li>
        <li><%= link_to t(".button_contact"), contact_path %></li>
        <li><%= link_to t(".button_help"), help_path %></li>
      </ul>
      <ul class="site-footer-links">
        <li><%= t ".footer_title" %></li>
      </ul>
    </ul>
  </nav>
</footer>